* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  padding-bottom: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  padding-top: 32px;
}

 .max-width-wrapper {
   max-width: 960px;
   margin: 0 auto;
   padding: 0 20px;
 }

.indented-heading {
  padding: 10px;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  margin-left: -10px;
  box-shadow: 0 8px 0 hsl(45deg, 100%, 40%);
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 75%;
}

.card p {
  margin: 10px;
}

.intro-chunk {
  width: 35%;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 10%;
  padding-bottom: 10%;
}